<!DOCTYPE html>
<html style="margin: 0; padding: 0; min-width: 400px; overflow-x: hidden;">
    <head>
        <title>Teamwox/Redmine integration options</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css" media="screen,projection" />
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/src/configure.js"></script>
        <script type="text/javascript" src="/src/options.js"></script>
    </head>
    <body>
        <form>
            <!-- <div class="row"> -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="twUrl" type="url" required class="validate" pattern=".+" value="1">
                        <label for="twUrl" data-error="Incorrect URL">Teamwox URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="redmineUrl" type="url" value="1">
                        <label for="redmineUrl">Redmine URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="redmineProject" type="text" value="1">
                        <label for="redmineProject">Redmine project</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="redmineApiKey" type="text" value="1">
                        <label for="redmineApiKey">Redmine API Key</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="overridesStr" class="materialize-textarea">1</textarea>
                        <label for="overridesStr">Moar magic</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 left-align">
                        <button id="btn-reset" type="button">Reset settings</button>
                    </div>
                    <div class="col s6 right-align">
                        <button type="submit">Save &amp; exit</button>
                    </div>
                </div>
            <!-- </div> -->
        </form>
    </body>
</html>