<!doctype html>
<!--
This page is shown when the extension button is clicked, because the
"browser_action" field in manifest.json contains the "default_popup" key with
value "popup.html".
-->
<html>
  <head>
    <title>Teamwox/Redmine integration</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <!--
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
    -->
    <style>
    html {
      font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
      font-size: 100%;
      min-width: 450px;
      min-height: 550px;
    }
    body {
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 100%;
    }
    a.disabled {
      color: #ccc;
      cursor: default;
    }
    #placeholder iframe {
      width: 100%;
      height: 550px;
      border: none;
    }
    </style>
    <script src="/src/configure.js"></script>
    <script src="/src/popup-utils.js"></script>
    <script src="/src/popup-legacy.js"></script>
  </head>
  <body>
    <div class="progress" id="progress">
      <div class="indeterminate"></div>
    </div>
    <div id="placeholder"></div>
    <!-- <iframe id="rmframe" src="https://redmine.fxtm/projects/web-development-department/issues/new"></iframe> -->
    <!--
    <form>
      <p>
        <input name="type-of-issue" type="radio" id="project" />
        <label for="project">Project</label>
      </p>
      <p>
        <input name="type-of-issue" type="radio" id="support" />
        <label for="support">Support</label>
      </p>
      <p>
        <input name="type-of-issue" type="radio" id="bug" />
        <label for="bug">Bug</label>
      </p>
-->
      
<!--
      <hr>
      <h5>Team</h5>
      <div class="list-group">
        <button type="submit" name="assign_to" value="0" class="list-group-item">None</button>
        <button type="submit" name="assign_to" value="134" class="list-group-item">Backoffice Team</button>
        <button type="submit" name="assign_to" value="140" class="list-group-item">Frontend Team</button>
        <button type="submit" name="assign_to" value="142" class="list-group-item">Drupal Team</button>
        <button type="submit" name="assign_to" value="137" class="list-group-item">Partnership Team</button>
        <button type="submit" name="assign_to" value="139" class="list-group-item">CRM Team</button>
        <button type="submit" name="assign_to" value="138" class="list-group-item">Dealing Team</button>
        <button type="submit" name="assign_to" value="141" class="list-group-item">Investments Team</button>
      </div>
    </form>
    <script>var f = $("#form"); f.find(":submit").click(function(e){e.preventDefault(); var d = {"issue[tracker_id]": f.find("[name=tracker_id]:checked").val(), "issue[assigned_to_id]": e.target.value}; window.parent.postMessage(d, "*"); })
    </script>
-->
  </body>
</html>