#twrm_sb {
    position:fixed;
    top:50%;
    left:80%;
    z-index:1000;
    height: 2.5em;
    width: 100%;

    box-shadow: #999 0px 5px 20px 0px;
    border: 1px solid rgb(222, 219, 205);

    transition-property: left;
    transition-duration: 100ms;
}

#twrm_sb.twrm_visible {
    left: 50%;
}

#twrm_sb input {
    width: 100%;
    height: 100%;
    border: none;
}